@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

/* barra */

::-webkit-scrollbar {
    width: 10px; 
}

::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 10px; 
}

::-webkit-scrollbar-thumb {
    background-color: #0390fc; 
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #03cefc; 
}

/* ----------------------- */

html{
    scroll-behavior: smooth;
}


body{
    font-family: Montserrat, sans-serif;
}

a{
    text-decoration: none;
    color: black;
    cursor: pointer;
}

a:hover{
    color: #0390fc;
    transition: 0.5s;
}

.titulos{
    color: #03cefc;
}

.menu {
    background-color: #03cefc; 
    position: fixed; 
    top: 0; 
    left: 0; 
    width: 100%; 
}

.ulnav {
    list-style-type: none; 
    margin: 0; 
    padding: 0; 
    overflow: hidden; /*  para evitar que los elementos floten fuera de la lista */
}  

.linav {
    float: left;     /* colocar los elementos uno al lado del otro */
}

.linav a {
    display: block; 
    color: white; 
    text-align: center; 
    padding: 14px 16px; 
    text-decoration: none; 
}


.linav a:hover {
    background-color: #42aaf5;
    color :white
}


form {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
    margin-top: 20px;
}

input[type="text"],
input[type="date"],
input[type="number"],
input[type="submit"] {
    width: 90%;
    padding: 10px;
    
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="submit"] {
    background-color: #03cefc;
    color: white;
    cursor: pointer;
    margin-left: 10px;
    margin-top: 20px;
}

input[type="submit"]:hover {
    background-color: #42aaf5;
}

.error{
    color: red;
    transition: 0.5s;
}

form p{
    margin-top: 2%;
}
