<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
  <title>Taller HTM,CSS,JS</title>
  <link rel="stylesheet" th:href="@{/css/index.css}">
  <meta charset="UTF-8">
</head>

<body>
  <h1 class="titulos"> INDICE</h1>


  <ol>
    <li>
      <a href="vistas/objetivoPrincipal"> Objetivo principal </a><br><br>
    </li>
    <li>
      <a href="vistas/usuarios"> Usuarios </a><br><br>
    </li>
    <li>
      <a href="vistas/requerimientosFuncionales"> Modulos y requerimentos funcionales </a><br><br>
      <ol>
        <li><a href="vistas/requerimientosFuncionales#m31"> Informaci&oacute;n b&aacute;sica</a></li><br>
        <li><a href="vistas/requerimientosFuncionales#m32"> Producci&oacute;n</a></li><br>
        <li><a href="vistas/requerimientosFuncionales#m33">Reproducci&oacute;n</a></li><br>
        <li><a href="vistas/requerimientosFuncionales#m34"> Alimentaci&oacute;n</a></li><br>
        <li><a href="vistas/requerimientosFuncionales#m35"> Sanitario</a></li><br>
        <li><a href="vistas/requerimientosFuncionales#m36"> Reporte trabajo diario</a></li><br>
      </ol>
    </li>
    <li>
      <a href="vistas/requerimientosNoFuncionales"> Requerimientos no funcionales </a><br><br>
      <ol>
        <li><a href="vistas/requerimientosNoFuncionales#S1">Aplicación movil (online/offline)</a></li><br>
        <li><a href="vistas/requerimientosNoFuncionales#S2">Aplicación web</a></li><br>
      </ol>
    </li>
    <li>
      <a href="vistas/arquitecturaGeneral"> Arquitectura general </a><br><br>
      <ol>
        <li><a href="vistas/arquitecturaGeneral#S1">Capa 1: Datos</a></li><br>
        <li><a href="vistas/arquitecturaGeneral#S2">Capa 2: Lógica de negocio</a></li><br>
        <li><a href="vistas/arquitecturaGeneral#S3">Capa 3: Conectividad cliente final</a></li><br>
        <li>
          <a href="vistas/arquitecturaGeneral#S4">Capa 4: Visualización</a><br><br>
          <ol>
            <li><a href="vistas/arquitecturaGeneral#S41">App móvil</a></li><br>
            <li><a href="vistas/arquitecturaGeneral#S42">Aplicación web USUARIO</a></li><br>
            <li><a href="vistas/arquitecturaGeneral#S43">Aplicación web ADMINISTRADOR</a></li><br>
          </ol>
        </li>
      </ol>
    </li>
    <li>
      <a href="vistas/infraestructura"> Infraestructura </a>
    </li>
  </ol><br><br>

  <h1 class="titulos"><center>Formulario</center></h1>
  <form action="/Controllers/imprimir-formulario-index" method="POST">
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" name="nombre" oninput="verificarCaracteres(this)" placeholder="Introduce tu nombre">
    <p id="errorNombre" class="error"></p>

    <label for="apellido">Apellido:</label>
    <input type="text" id="apellido" name="apellido" oninput="verificarCaracteres(this)"
           placeholder="Introduce tu apellido">
    <p id="errorApellido" class="error"></p>

    <label for="fecha">Fecha de nacimiento:</label>
    <input type="date" id="fecha" name="fecha" required>

    <label for="edad">Edad:</label>
    <input type="number" id="edad" name="edad" oninput="verificarEdad(this)"
           placeholder="Indica tu edad en números enteros">
    <p id="errorEdad" class="error"></p>

    <input type="submit" value="Enviar">
  </form>
  <ul th:each="info : ${FormInfo}">
    <li th:text="${info}"></li>
  </ul>

  <script src='../static/js/formulario.js'></script>

</body>
</html>